{{#if success_message}}
               
    <div class="alert alert-danger">
    {{success_message}}
     </div>

 {{/if}}
 {{#if success_message1}}
               
    <div class="alert alert-success">
    {{success_message1}}
     </div>

 {{/if}}


 {{#if error}}
     <div class="alert alert-danger">
      Invalid user or password
    </div>

 {{/if}}

