
<div class="row">
    <div class="col-sm-3">
        <h3>Create category</h3>
        <form action="/admin/category/create" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="enter category" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">create category</button>
        </form>
    </div>
    <br>
    <hr>
    <div class="col-sm-8">
       <h4>List of category</h4>
       <table class="table">
           
           <thead>
               <tr>
                   <th>ID</th>
                   <th>Name</th>
                   <th>Date</th>
               </tr>
           </thead>
           {{#each category}}
           <thead>
               <td>{{id}}</td>
               <td>{{name}}</td>
               <td>{{generatetime date 'dddd DD MMMM , YYYY' }}</td>
           </thead>
           {{/each}}
       </table> 
    </div>
</div>