<center><h1><u><b>ABOUT Us</b></u></h1></center>
<hr>
<h4><u>What is</u></h4>
<div>
<p>DIV-blog is blogpost website where you can share you blog in any point of view like bollywood ,social, technology ....etc
    you can express your point of view related to specific society or to motivate them as we all know its a place where we become 
    open try to do different for the people or the whole society . In this blog different peoples are  connected and hence allows you to put your  point 
    or  raise through your inbuilt talent .
</p>
</div> 
<div>
    As we all know blogging is an art ,so lets start blogging .......
</div>
<br>
<br>
<hr>
<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><center><h2>Developer</h2></center></h3>
<br>
<div>
    <center><img src="/img/divblog1.jpg" class="img-responsive" alt="Avatar" style="border-radius: 50%; height:10% ; width:20%;"><center>
        <br>
        <center><h3>Khan Afzal</h3></center>
</div>
<hr>

    
 <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><center><h2>Contact Us</h2></center></h3>
    {{!-- <p>Lets get in touch and talk about your next project.</p> --}}
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>